/*Font Titolo*/
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

/*Font generico*/
@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');



.body{
    grid-template-rows: 1fr 150px auto 700px;
}


/*titolo della pagina*/
.titolo{
    font-family: 'Luckiest Guy', cursive;
    font-size: 110px;
    width: 100%;
    height: 100%;
    text-align: center;
}


/*carosello in 5:3*/
.carosello{
    width: 1000px;
    height: 600px;
}


/*Bottoni della navbar*/
.btn-navbar{
    font-family: 'Vollkorn', serif;
    font-size: 22px;
    font-weight: 600;
    margin-left: 5px;
    margin-right: 5px;
}


/*Bottone area personale nella navbar*/
.btn-areapersonale {
    background-color: rgba(253, 234, 170, 0.916);
    font-weight: 600;
    font-size: 22px;
    font-family: 'Vollkorn', serif;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
   }
   
.btn-areapersonale:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
}
   
.btn-areapersonale:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
}


.offerte{
    display: grid;
    grid-template: 
        'a a' 0.2fr
        'b c' / 1fr 1fr;
    width: 100%;
    height: 100%;
    margin-top: 70px;
    text-align: center;
    border: solid 3px;
}

.titolo-offerte{
    grid-area: a;
    background-color: #64b0e6cf;
    /* border: solid 3px; */
}

.offerta-1{
    display: flex;
    grid-area: b;
    background-color: blue;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.offerta-2{
    display: flex;
    grid-area: c;
    background-color: blueviolet;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}