/*Font Titolo*/
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

/*Font generico*/
@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');

.body{
    grid-template-rows: 1fr auto auto auto auto; 
}


/* titolocinema */
.inostricinema{
    /* font-family: 'RocknRoll One', sans-serif; */
    /* font-family: 'Montserrat Subrayada', sans-serif; */
    font-family: 'Fredericka the Great', cursive;
    font-weight: 800;
    font-size: 60px;
    width: 100%;
    height: 100%;
    text-align: center;
    color: rgb(0, 0, 0);
}

/*Bottoni della navbar*/
.btn-navbar{
    font-family: 'Vollkorn', serif;
    font-size: 22px;
    font-weight: 600;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 0.4em;
    transition-duration: 0.6s;
}

.btn-navbar:hover{
    background-color: rgb(156, 101, 0);
}
/*Bottoni della navbar*/


/*Bottone area personale nella navbar*/
.btn-areapersonale {
    background-color: rgba(217, 217, 217, 0.916);
    font-weight: 600;
    font-size: 22px;
    font-family: 'Vollkorn', serif;
    border: 3px solid rgb(101, 101, 101);
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
   }
   
.btn-areapersonale:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
}
   
.btn-areapersonale:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
}
/*Bottone area personale nella navbar*/

/* LUOGHI */

.luogo{
    display: grid;
    grid-template: 
    'a' auto
    'c' auto
    'b' auto;
    width: 90%;
    height: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 15px;
    background-color: rgba(155, 155, 155, 0.651);
}


.descrizione{
    grid-area: b;
    margin: 15px;
    font-family: 'Vollkorn', serif;
    font-size: 20px;
}

.img{
    grid-area: a;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.btn-container{
    grid-area: c;
    display: flex;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    justify-content: center;
}

.btn{
    background-color: rgba(217, 217, 217, 0.916);
    border: none;
    border-radius: 10px;
    font-family: 'Vollkorn', serif;
    font-size: 22px;
    font-weight: 600;
    max-height: 50px;
    color: black;
}

.btn:hover{
    background-color: rgb(156, 101, 0);
    color: rgb(220, 220, 217);
    transition-duration: 0.6s;
}

.via{
    font-family: 'Vollkorn', serif;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-top: 5px;
}