/*Font Titolo*/
@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

/*Font generico*/
@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');



.body{
    background-image: url(../../image/sfondo/sfondo.jpg);
    display: grid;   
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr;
}


.grid-item-navbar{
    width: 100%;
    margin: 0;
}


.grid-item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;  
}


/* PROFILO */
.foto{
    grid-area: a;
    display:flex;
    width: 100%;
    height: 100%;
    justify-content:center ;
    align-items:center ;
}

.dati{
    grid-area: b;
    margin: 20px;
    font-size: 20px;
}

.azioni{
    grid-area: c;
    margin: 20px;
    font-size: 20px;
    justify-content:center ;
}

.abbonamenti{
    display: grid;
    grid-template: 
    'a',
    'b';
    margin: 4%;
    background-color: rgba(155, 155, 155, 0.651);
    border-radius: 15px;
    border: solid 3px black;
}

.prenotazioni{
    display: grid;
    grid-template: 
    'a',
    'b';
    margin: 4%;
    background-color: rgba(155, 155, 155, 0.651);
    border-radius: 15px;
    border: solid 3px black;
}

.riga-prenotazioni{
    display: grid;
    grid-template: 
    'k1 k2'/5fr 1fr;
    height: auto;
    padding-top: 5px;
}

.testo-prenotazione{
    grid-area: k1;
    display: flex;
    justify-content: start;
}

.btn-prenotazione{
    grid-area: k2;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 35px;
}
/* PROFILO */