/*Font Titolo*/
@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

/*Font generico*/
@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');



.body{
    grid-template-rows: 1fr auto auto; 
}


/*Bottoni della navbar*/
.btn-navbar{
    font-family: 'Vollkorn', serif;
    font-size: 22px;
    font-weight: 600;
    margin-left: 5px;
    margin-right: 5px;
    transition-duration: 0.6s;
    border-radius: 0.4em;
}

.btn-navbar:hover{
    background-color: rgb(156, 101, 0);
}
/*Bottoni della navbar*/


/*Bottone area personale nella navbar*/
.btn-areapersonale {
    background-color: rgba(217, 217, 217, 0.916);
    font-weight: 600;
    font-size: 22px;
    font-family: 'Vollkorn', serif;
    border: 3px solid rgb(101, 101, 101);
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
   }
   
.btn-areapersonale:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
}
   
.btn-areapersonale:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
}
/*Bottone area personale nella navbar*/


/*titolo della pagina*/
.titolo{
    /* font-family: 'RocknRoll One', sans-serif; */
    /* font-family: 'Montserrat Subrayada', sans-serif; */
    font-family: 'Fredericka the Great', cursive;
    font-weight: 800;
    font-size: 70px;
    width: 100%;
    height: 100%;
    text-align: center;
    color: rgb(0, 0, 0);
}


/* PROFILO */
.dati{
    grid-area: b;
    display: flex;
    margin: 20px;
    font-size: 25px;
    align-items: center;
    justify-content: start;
}

.profilo{
    display: grid;
    grid-template: 
    't t'
    'a b' 
    'c c';
    grid-template-columns: 1fr 1fr;
    font-family: 'Vollkorn', serif;
    margin: 4%;
    background-color: rgba(155, 155, 155, 0.651);
    border-radius: 15px;
    width: 100%;
    height: 100%;
}

.nome{
    grid-area: t;
    display: flex;
    margin: 20px;
    font-size: 40px;
    justify-content:center ;
    align-items: center;
}

.tit-abbonamenti{
    font-size: 27px;
    font-weight: bold;
    border-bottom: solid 2px black;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 10px;
    background-color: rgba(122, 122, 122, 0.763);
}
.sezione-abbonamenti{
    font-size: 22px;
    padding: 10px;
}

.tit-prenotazioni{
    font-size: 27px;
    font-weight: bold;
    border-bottom: solid 2px black;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 10px;
    background-color: rgba(122, 122, 122, 0.763);
}
.sezione-prenotazioni{
    font-size: 22px;
    padding: 10px;
}


.modal-dettagli{
    display: grid;
    grid-template: 
    'a b';
}

.locandina-dettagli{
    grid-area: a;
    margin: 10px;
}

.testo-dettagli{
    grid-area: b;
    margin: 10px;
    font-size: 15px;
}
/* PROFILO*/


/* LOGIN E REGISTRAZIONE */
.form{
    font-family: 'Vollkorn', serif;
    font-size: 22px;
    font-weight: bold;
    padding: 3%;
    margin: 3%;
    border-radius: 15px;
    background-color: rgba(155, 155, 155, 0.651);
}

.btn-form{
    background-color: rgba(217, 217, 217, 0.916);
    border: none;
    border-radius: 0.4em;
    width: 100%;
    height: auto;
}

.btn-form:hover{
    background-color: rgb(156, 101, 0);
    transition-duration: 0.6s;
    color: rgb(220, 220, 217);
    border: none;
}
/* LOGIN E REGISTRAZIONE */

.push{
    height: 0;
}