/*Font Titolo*/
@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

/*Font generico*/
@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');



.body{
    background-image: url(../../image/sfondo/sfondo.jpg);
    display: grid;   
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr;
}


.grid-item-navbar{
    width: 100%;
    margin: 0;
}


.grid-item{
    /* border: solid 2px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;

    
}

/* Profilo personale */

.foto{
    grid-area: a;
    display:flex;
    width: 100%;
    height: 100%;
    justify-content:center ;
    align-items:center ;
}

.dati{
    grid-area: b;
    margin: 20px;
    font-size: 20px;
}

.azioni{
    grid-area: c;
    margin: 20px;
    font-size: 20px;
    justify-content:center ;
}

.nome{
    grid-area: t;
    display: flex;
    margin: 20px;
    font-size: 40px;
    justify-content:center ;
    align-items: center;
}


.btn-logout{
    font-family: 'Vollkorn', serif;
    background-color: rgba(217, 217, 217, 0.916);
    border-radius: 0.4em;
    margin-top: 5px;
    font-size: 25px;
    padding: 10px;
    border: solid 3px rgb(156, 101, 0);
}

.btn-logout:hover{
    background-color: rgb(156, 101, 0);
    transition-duration: 0.6s;
    color: rgb(220, 220, 217);
    border: solid 3px rgb(220, 220, 217);
}

.abbonamenti{
    display: grid;
    grid-template: 
    'a',
    'b';
    margin: 4%;
    background-color: rgba(155, 155, 155, 0.651);
    border-radius: 15px;
    border: solid 3px black;
}

.prenotazioni{
    display: grid;
    grid-template: 
    'a',
    'b';
    margin: 4%;
    background-color: rgba(155, 155, 155, 0.651);
    border-radius: 15px;
    border: solid 3px black;
}


