/*Font Titolo*/
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

/*Font generico*/
@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');


.body{
    background-image: url(../../image/sfondo/sfondo.jpg);
    display: grid;   
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr;
}


.grid-item-navbar{
    width: 100%;
    margin: 0;
}


.grid-item{
    /* border: solid 2px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

/* Sezione locandine film */
.locandine{
    grid-area: c;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* sezione orario */
.titolo-orario{
    grid-area: d0;
    display: flex;
    border-radius: 15px;
    justify-content: center;
    font-family: 'Fredericka the Great', cursive;
    font-size: 40px;
}

.sceltacinema{
    grid-area: d1;
    display: flex;
    margin: 2%;
    border-radius: 15px;
    justify-content: center;
    font-family: 'Vollkorn', serif;
    font-size: 20px;
}


.btn{
    background-color: rgba(217, 217, 217, 0.916);
    border: none;
    border-radius: 10px;
    margin: 5px;
    font-size: 20px;
}

.btn:hover{
    background-color: rgb(156, 101, 0);
}

.orario1{
    grid-area: d2;
    display: flex;
    justify-content: end;
    padding-top: 15%;
}

.orario2{
    grid-area: d3;
    display: flex;
    justify-content: start;
    padding-top: 15%;
}

.orario3{
    grid-area: d4;
    display: flex;
    justify-content: end;
    padding-top: 15%;
}

.orario4{
    grid-area: d5;
    display: flex;
    justify-content: start;
    padding-top: 15%;
}