/*Font Titolo*/
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

/*Font generico*/
@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');

.body{
    grid-template-rows: 1fr 150px 150px auto auto; 
}

/*titolo della pagina*/
.titolo{
    font-family: 'Luckiest Guy', cursive;
    font-size: 110px;
    width: 100%;
    height: 100%;
    text-align: center;
}
/* Programmazione */
.programmazione{
    font-family: 'Luckiest Guy', cursive;
    font-size: 100px;
    width: 100%;
    height: 100%;
    text-align: center;
}

/*Bottoni della navbar*/
.btn-navbar{
    font-family: 'Vollkorn', serif;
    font-size: 22px;
    font-weight: 600;
    margin-left: 5px;
    margin-right: 5px;
}


/*Bottone area personale nella navbar*/
.btn-areapersonale {
    background-color: rgba(253, 234, 170, 0.916);
    font-weight: 600;
    font-size: 22px;
    font-family: 'Vollkorn', serif;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
   }
   
.btn-areapersonale:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
}
   
.btn-areapersonale:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
}
/*Bottone area personale nella navbar*/